@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto-light-webfont.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto-regular-webfont.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto-medium-webfont.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/roboto-bold-webfont.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/raleway-extralight-webfont.woff2") format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/raleway-bold-webfont.woff2") format("woff2");
  font-weight: 700;
}
