.brands {
  background: linear-gradient(to right, #7525a7, #3c1a8d);
  padding: 5vw;
}

.brands__logos {
  background-image: url("assets/images/logos.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 7.5vw;
}
