.footer__top {
  background-color: #242936;
  padding: 50px 25px;
}

.footer__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #343b4e;
}

.footer__top-bar-logo {
  width: 64px;

  @include mq($from: desktop) {
    width: auto;
  }
}

.footer__top-bar-nav-item {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 200;
  color: #757985;
  font-size: 15px;

  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  @include mq($from: desktop) {
    font-size: 16px;
  }
}

.footer__top-info {
  display: flex;
  flex-flow: column;

  @include mq($from: tablet) {
    flex-flow: row;
  }
}

.footer__top-info-block {
  margin-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #373e52;

  &:first-child {
    margin-top: 0;

    @include mq($from: tablet) {
      padding-left: 0;
    }
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;

    @include mq($from: tablet) {
      border-right: none;
      padding-right: 0;
    }
  }

  @include mq($from: tablet) {
    margin-top: 0;
    padding-bottom: 0;
    padding: 0 15px;

    border-bottom: none;
    border-right: 1px solid #373e52;
  }
}

.footer__top-info-block-image {
  display: block;
  height: 64px;
  width: 64px;
  object-fit: scale-down;
  margin: 0 auto;
  margin-bottom: 15px;
}

.footer__top-info-block-header {
  font-size: "Raleway";
  font-weight: 700;
  color: #d3d3d3;
  font-size: 18px;
  margin-bottom: 10px;

  @include mq($from: desktop) {
    font-size: 26px;
  }
}

.footer__top-info-block-header_alt {
  text-align: center;
  font-size: 16px;

  @include mq($from: desktop) {
    font-size: 19px;
  }
}

.footer__top-info-block-text {
  font-size: "Raleway";
  font-weight: 200;
  font-size: 14px;
  color: #ababab;
  line-height: 1.66;
}

.footer__top-info-block-text_alt {
  text-align: center;
  color: #dadada;
  font-size: 15px;
}

.footer__bottom {
  background-color: #1e222d;
  padding: 25px;
  display: flex;
  flex-flow: column;
  width: 100%;

  @include mq($from: tablet) {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__bottom-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  @include mq($from: tablet) {
    justify-content: flex-start;
  }
}

.footer__bottom-nav-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 600;
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }

  @include mq($from: desktop) {
    font-size: 15px;
  }
}

.footer__bottom-social {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 25px;

  @include mq($from: tablet) {
    margin-bottom: 0;
    justify-content: flex-end;
    order: 2;
  }
}

.footer__bottom-social-link {
  display: inline-block;
  padding: 5px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #373e52;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }

  & > img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
}

.footer__bottom-block {
  order: 2;

  @include mq($from: tablet) {
    order: 1;
  }
}

.footer__bottom-copyright {
  font-weight: 200;
  font-size: "Raleway";
  font-size: 12px;
  color: #757985;
  text-align: center;

  @include mq($from: tablet) {
    text-align: left;
  }

  @include mq($from: desktop) {
    font-size: 14px;
  }
}
