.nav-menu {
  position: relative;
  display: inline-block;
}

.nav-menu__toggler {
  display: block;
  color: hsl(0, 0, 100);
  user-select: none;
  background-image: url("assets/images/hamburger-menu-icon.png");
  width: 32px;
  height: 32px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @include mq($from: desktop) {
    display: none;
  }
}

.nav-menu__buttons {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  height: auto;
  text-align: right;
  white-space: nowrap;
  background-color: hsl(0, 0, 100);
  box-shadow: 0 2.5px 5px hsla(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px 15px;
  margin-top: 20px;
  z-index: get-z-index("navigation");

  @include mq($from: desktop) {
    position: static;
    display: block;
    white-space: unset;
    top: auto;
    right: auto;
    padding: auto;
    box-shadow: none;
    background-color: transparent;
    margin-top: auto;
  }
}

.nav-menu__button {
  position: relative;
  display: block;
  font-family: Roboto;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 0;
  color: hsl(0, 0, 75);
  padding: 10px 20px;
  padding-bottom: 5px;
  text-align: center;

  &.active {
    color: hsl(268, 100%, 60%);
  }

  &:last-child::after {
    display: none;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;

    background: linear-gradient(to right, transparent, #ddd, transparent);

    @include mq($from: desktop) {
      display: none;
    }
  }

  @include mq($from: desktop) {
    font-size: 18px;
    display: inline-block;
    color: hsl(0, 0, 100);
    margin: auto;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}
