.explain {
  padding: 50px 25px;
  background-color: #fff;
}

.explain__header {
  @extend %screen-header;
}

.explain__blocks {
  display: flex;
  flex-flow: column;

  @include mq($from: desktop) {
    flex-flow: row;
  }
}

.explain__block {
  font-weight: 300;
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq($from: tablet) {
    margin-bottom: 50px;
  }

  @include mq($from: desktop) {
    flex-flow: row;
    margin-bottom: auto;
    margin-left: 25px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.explain__block-title {
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #784cc6;

  @include mq($from: tablet) {
    font-size: 24px;
  }

  @include mq($from: desktop) {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.explain__block-text {
  color: #9f9f9f;

  @include mq($from: tablet) {
    font-size: 18px;
  }

  @include mq($from: desktop) {
    font-size: 21px;
  }
}
