.welcome {
  position: relative;
  overflow-x: hidden;

  & .top-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

.welcome__background {
  width: 100%;
  display: block;
}

.welcome__background-bottom {
  height: 22.5vw;
  background-color: hsl(0, 0, 100);
}

.welcome__main {
  position: absolute;
  top: 19vw;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0, 100);

  @include mq($from: tablet) {
    top: 15vw;
  }

  @include mq($from: desktop) {
    top: 17.5vw;
  }
}

.welcome__proposal-one {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5vw;
  border: 0.3vw solid hsl(0, 0, 100);

  & > .block {
    max-width: 100%;
    margin-left: 5px;
  }
}

.welcome__proposal-one-image {
  width: 4vw;

  @include mq($from: desktop) {
    width: 3vw;
    margin-right: 1vw;
  }
}

.welcome__proposal-one-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3vw;

  @include mq($from: desktop) {
    font-size: 2.5vw;
  }
}

.welcome__proposal-one-subtext {
  font-weight: 300;
  font-size: 2.75vw;

  @include mq($from: desktop) {
    font-size: 2.25vw;
  }
}

.welcome__proposal-two {
  margin-top: 3vw;
  font-size: 2.8vw;

  @include mq($from: desktop) {
    font-size: 2.4vw;
  }
}

.welcome__proposal-three {
  margin-top: 1vw;
  font-size: 2.4vw;
  width: 50%;
  text-align: center;

  @include mq($from: desktop) {
    font-size: 2vw;
  }
}

.welcome__transfer {
  position: absolute;
  bottom: 32.5vw;
  left: 10%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  & > .block {
    max-width: 100%;
    margin-left: 5vw;
  }

  @include mq($from: tablet) {
    left: 8%;
  }
}

.welcome__transfer-image {
  width: 25vw;
}

.welcome__transfer-button {
  padding: 1vw 1.25vw;
  border-radius: 100vw;
  background-color: transparent;
  margin-left: 3vw;
  font-size: 2.25vw;
  border: 2px solid hsl(265, 59, 42);
  color: hsl(265, 59, 42);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    font-weight: 600;
  }

  & > img {
    width: 3vw;
    margin-left: 0.5vw;
  }

  @include mq($from: tablet) {
    font-size: 2vw;
  }
}

.welcome__footer {
  position: absolute;
  bottom: 5vw;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @include mq($from: desktop) {
    bottom: 2vw;
  }
}

.welcome__footer-title {
  text-align: center;
  font-size: 2.5vw;
  padding: 0 25%;
  color: hsl(0, 0%, 31%);

  @include mq($from: desktop) {
    font-size: 2.25vw;
  }
}

.welcome__footer-subtitle {
  padding: 0 10%;
  padding-top: 2.5vw;
  font-size: 2.25vw;
  text-align: center;
  color: hsl(0, 0%, 64%);

  @include mq($from: desktop) {
    font-size: 2vw;
  }
}

.welcome__footer-button {
  margin-top: 5vw;
  padding: 1.6vw 5vw;
  border-radius: 100vw;
  font-size: 2vw;
  color: hsl(0, 0, 100);
  border: none;
  background: linear-gradient(to right, #2ec17e, #3ad9a3);
  box-shadow: 0 0.2vw 0.5vw hsla(0, 0, 0, 0.2);
}
