{% extends "src/atomic/t-default.html" %}

{% block title %}{{ super() }}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="index.css" />
{% endblock %}

{% block body %}
  {% include "src/atomic/o-welcome.html" %}
  {% include "src/atomic/a-intro.html" %}
  {% include "src/atomic/m-explain.html" %}
  {% include "src/atomic/a-brands.html" %}
  {% include "src/atomic/m-features.html" %}
  {% include "src/atomic/m-stay-tuned.html" %}
  {% include "src/atomic/m-our-team.html" %}
  {% include "src/atomic/a-pointline.html" %}
  {% include "src/atomic/a-footer.html" %}
  <script src="index.js"></script>
{% endblock %}
