{% extends "src/atomic/t-default.html" %}

{% block title %}{{ super() }}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="index.css" />
{% endblock %}

{% block body %}
  {% include "src/atomic/o-welcome-screen.html" %}
  {% include "src/atomic/a-intro-screen.html" %}
  {% include "src/atomic/m-explain-screen.html" %}
  {% include "src/atomic/a-brands-screen.html" %}
  {% include "src/atomic/m-features-screen.html" %}
  {% include "src/atomic/m-stay-tuned-screen.html" %}
  {% include "src/atomic/m-our-team-screen.html" %}
  {% include "src/atomic/a-pointline-screen.html" %}
  {% include "src/atomic/a-footer-screen.html" %}
  <script src="index.js"></script>
{% endblock %}
